<!DOCTYPE html>
<html lang="pl-PL">
<head>
	<%- partial('_partial/head', {
		title: 'Galeria - Mysie Pysie - Opieka dzienna',
		font: 'Quicksand:400,500',
		style: 'gallery.css'
	} ); %>
	<meta property="og:title" content="Galeria - Mysie Pysie - Opieka dzienna" />
	<meta property="og:description" content="Jesteśmy miejscem dla dzieci w wieku od sześciu miesięcy do trzech lat." />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://mysiepysie.pl/galeria/" />
	<meta property="og:image" content="https://mysiepysie.pl/images/og_image.jpg" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:image:alt" content="Mysie Pysie - Opieka dzienna" />
</head>
<body>
	<nav>
		<div class="close">
			<a href="/#galeria">
				<img src="/images/mp_ic_x_thick.svg" class="close" alt="X">
			</a>
		</span>
	</nav>
	<main>
		<header>
			<img src="/images/mp_mouse_album.svg" class="logo" alt="Galeria Mysiów Pysiów">
			<h1>Galeria Mysiów&nbsp;Pysiów</h1>
		</header>
		<% for( let folder in page.gallery ) { %>
			<% let galleryData = page.gallery[ folder ] %>
			<section>
				<div class="header">
					<h2><%- galleryData.name %></h2>
					<p class="date"><%= date( galleryData.date, 'D.MM.YYYY' ) %></p>
				</div>
				<div class="images">
					<% for( let image of galleryData.images ) { %>
						<a data-fslightbox="gallery" href="/galeria/<%- folder %>/<%- image %>">
							<img class="img" src="/galeria/<%- folder %>/small/<%- image %>" alt="Obraz z galerii zdjęć.">
						</a>
					<% } %>
				</div>
			</section>
		<% } %>
	</main>
	<%- partial('_partial/footer') %>
	<script src="/lightbox/fslightbox.min.js"></script>
</body>
</html>
