<!DOCTYPE html>
<html lang="pl-PL">
<head>
	<%- partial('_partial/head', {
		title: page.title + ' - Mysie Pysie - Opieka dzienna',
		font: 'Quicksand:400,500',
		style: 'post.css'
	} ); %>
	<meta property="og:title" content="<%= page.title %> - Mysie Pysie - Opieka dzienna" />
	<meta property="og:description" content="<%- truncate( strip_html( page.content ), { length: 130 } ) %>" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="https://mysiepysie.pl/<%= page.path %>" />
	<meta property="og:image" content="https://mysiepysie.pl/images/posts/<%= page.image %>" />
	<style>
		header .image {
			background-image: url( "/images/posts/<%= page.image %>" );
		}
	</style>
</head>
<body>
	<div class="overlay">
		<header>
			<div class="image"></div>
			<h1><%- page.title %></h1>
			<p class="date"><%= date( page.date ) %></p>
		</header>
		<nav>
			<div class="close">
				<a href="/aktualnosci/">
					<img src="/images/mp_ic_x_thick.svg" class="close" alt="X">
				</a>
			</span>
		</nav>
		<main>
			<%- page.content %>
		</main>
	</div>
	<div class="prevNext">
		<% if( page.prev ) { %>
		<a href="<%- url_for( page.prev.path ) %>" class="prev"><%- page.prev.title %></a>
		<% } %>
		<div class="spacer"></div>
		<% if( page.next ) { %>
		<a href="<%- url_for( page.next.path ) %>" class="next"><%- page.next.title %></a>
		<% } %>
	</div>
	<%- partial('_partial/footer') %>
	<script src="/js/post-back.js"></script>
</body>
</html>
